body{
    height: 250vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-image: url(images_rgz/dcb43da8dfd48f04f9b695fb5e2583b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}
header{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
nav{
    height: 35%;
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e7a0d;
    border-radius: 20px;
    border: 3px solid black;
}
li{
    list-style: none;
    color: white;
    margin: 65px;
    font-family: 'poppins';
    font-size: 900;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}
ul{
    display: flex;
    flex-direction: row;
}
ul a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}
main{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main .xboxproducts{
    height: 100%;
    width: 85%;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    font-family: 'poppins';
}
main .xboxproducts .consoles{
    height: 23%;
    width: 90%;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    border-radius: 25px;
}
main .xboxproducts .consoles .descconsole{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 50px;
    border-radius: 25px;
    background-image: url(images_rgz/d477849da226db7571d5c82694699401.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 -20px 0px -20px rgba(0,0,0,0.45) inset, 20px 0 10px -20px rgba(0,0,0,0.45) inset;
}
main .xboxproducts .consoles .xbconsole{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 90%;
    align-content: center;
    justify-content: space-evenly;
    
}
.consoles .xbconsole .xbone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    border-radius: 20px;
}
.consoles .xbconsole .xbone .imgxb1{
    height: 47%;
    width: 79%;
    background-image: url(images_rgz/20f11ab557497325dc484db63fdadc46.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    margin-top: 35px;
    transition: all 0.5s ease-in-out;
}
.consoles .xbconsole .xbone .imgxb1:hover{
    transform: scale(1.2);
}
.consoles .xbconsole .xbseries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    border-radius: 20px;
}
.consoles .xbconsole .xbseries .imgxb2{
    height: 47%;
    width: 79%;
    background-image: url(images_rgz/97e8c047254ef06e7b460dfdc7ae6000.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    border-radius: 20px;
    margin-top: 35px;
    transition: all 0.5s ease-in-out;
}
.consoles .xbconsole .xbseries .imgxb2:hover{
    transform: scale(1.2);
}
main .xboxproducts .accessories{
    height: 23%;
    width: 90%;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    border-radius: 25px;
}
main .xboxproducts .accessories .xbaccessories{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 90%;
    align-content: center;
    justify-content: space-evenly;
}
main .xboxproducts .accessories .descaccessories{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 50px;
    justify-content: end;
    background-image: url(images_rgz/2b895d77d9cb8b32bd7347abc7080a6c.jpg);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -20px 0px -20px rgba(0,0,0,0.45) inset, -20px 0 10px -20px rgba(0,0,0,0.45) inset;
    
}
.bare{
    width: 80%;
    height: 15px;
    background-color: #DCDCDC;
    border-radius: 5px;
}
.colorblue{
    width: 80%;
    height: 100%;
    background-color: #0e7a0d;
    transform: scaleX(1);
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}
.accessories .xbaccessories .xbonectrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    border-radius: 20px;
}
.accessories .xbaccessories .xbonectrl .imgcrtlxbone{
    height: 47%;
    width: 46%;
    background-image: url(images_rgz/4e6c1c31c169a5a9310f136446131f3a.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    margin-top: 35px;
    transition: all 0.5s ease-in-out;
}
.accessories .xbaccessories .xbonectrl .imgcrtlxbone:hover{
    transform: scale(1.3);
}
.accessories .xbaccessories .xbseriesctrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    transition: all 0.5s ease-in-out;
}
.accessories .xbaccessories .xbseriesctrl .imgcrtlxbseries{
    height: 47%;
    width: 46%;
    background-image: url(images_rgz/4137860f809c8854156cfeeddbcdba45.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    margin-top: 35px;
    transition: all 0.5s ease-in-out;
}
.accessories .xbaccessories .xbseriesctrl .imgcrtlxbseries:hover{
    transform: scale(1.3);
}
.mybutton1{
    height: 10%;
    width: 45%;
    background-color: #0e7a0d;
    border-radius: 20px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 8px;
}
.mybutton1:hover{
    transform: scale(0.9);
}
main .xboxproducts .games{
    height: 45%;
    width: 90%;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 25px;
}
main .xboxproducts .descgames{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: url(images_rgz/dcb43da8dfd48f04f9b695fb5e2583b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: all 0.5s ease-in-out;

}
main .xboxproducts .descgames:hover{
    transform: scale(0.9);
}
.games .descgames p{
    color: white;
    font-family: 'Poppins';
    font-size: large;
}
main .xboxproducts .xbgames{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 40% 40%;
    row-gap: 50px;
    column-gap: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 40px;

}
main .xboxproducts .xbgames .choice{
    height: 100%;
    width: 70%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    border: 3px solid black;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.xbgames .choice .imggame0{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 15px;
    background-image: url(images_rgz/fc-25-standard-cover-v0-19e17zsww2dd1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame1{
    height: 70%;
    width: 95%;
    margin-top: 5px;
    border-radius: 35px;
    background-image: url(images_rgz/960x0.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame2{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/Resident_Evil_4_remake_cover_art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.xbgames .choice .imggame3{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/Forza_Horizon_5_cover_art.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame4{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/which-cover-art-do-you-prefer-v0-e5776n5rw1ka1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame5{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/red_dead_redemption_2_cover_art_1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame6{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/GTAIV-Boxart.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .imggame7{
    height: 70%;
    width: 90%;
    margin-top: 5px;
    border-radius: 20px;
    background-image: url(images_rgz/BG2SpcKCEAEeLeb.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.xbgames .choice .price{
    height: 30%;  
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.xbgames .choice .price .mybutton{
    height: 35%;
    width: 55%;
    background-color: #0e7a0d;
    border-radius: 20px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
main .xboxproducts .xbgames .choice:hover{
    transform: scale(1.1);
    
}
.xbgames .choice .price .mybutton:hover{
    transform: scale(0.9);

}



